
@font-face {
    font-family: Ghotam-black;
    src: url('../font/gotham-black.otf');
}

@font-face {
    font-family: Metal-sentinel;
    src: url('../font/metal-sentinel-cond.ttf');
}

@keyframes opacity {
    from {opacity: 1;}
    from {opacity: 0;}
}

@keyframes alterna-cores {
    0% {
      background: linear-gradient(to bottom, rgba(6, 15, 42, 0.883), rgba(18, 36, 9, 0.908));
    }
    25% {
        background: linear-gradient(to bottom, rgba(37, 6, 42, 0.883), rgba(53, 58, 15, 0.908));
    }
    50% {
        background: linear-gradient(to bottom, rgba(6, 15, 42, 0.883), rgba(18, 36, 9, 0.908));
    }
    75% {
        background: linear-gradient(to bottom, rgba(6, 42, 8, 0.883), rgba(18, 36, 9, 0.908));
    }

    100% {
        background: linear-gradient(to bottom, rgba(37, 6, 42, 0.883), rgba(53, 58, 15, 0.908));
    }
}
  

@keyframes spin {
    to { transform: rotate(360deg); }
}

::-webkit-scrollbar {
    width: 0.5em;
    background-color: #00000000;

}
  
::-webkit-scrollbar-thumb {
    background-color: #272727e4;
}

body {
    width: 100%;
    height: 100%;
    font-family: Ghotam-black;
    margin: 0;
    color:rgb(225, 225, 225);
    font-size: 13pt;
    overflow: auto;
    background-size: cover;
    animation: alterna-cores 30s ease-out infinite;
}

.menu-nav {
    font-size: 13pt;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.729);
    color: white;
    display: flex;

}

.menu-nav label{
    padding-top: 10px;
    font-size: 20pt;
    color: aquamarine;
}

.menu-nav a {
    font-size: 13pt;
    color: rgb(225, 225, 225);
    padding-top: 14px;
    text-decoration: none;
    margin-right: 20px;
}

.menu-nav a:hover {
    color: rgb(117, 222, 187);
}

.menu-nav-social{
    float: right;
    position: absolute;
    right: 0; 
}

.menu-nav div {
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 10px;
}

.menu-player {
    text-align: center;
    background-color: rgba(3, 3, 3, 0.945);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 105px;
    display: flex;
    z-index: 9999;
}

#menu-player-img {
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
    padding-right: 10px;
}

.menu-text-titulo{
    font-size: 11pt;
}

.menu-text-banda{
    color: rgb(135, 194, 190);
    font-size: 10pt;
}

#player-current-duration, #player-duration {
    font-size: 10pt;
}

.menu-player-center {
    margin-top: 10px;
    display: flex;
}

.menu-player-btns{ 
    display: flex;
    margin-right: 20px;
    padding-top: 15px;
}

.menu-player-btns img {
    padding-left: 20px;
    padding-top: 10px;
    width: 25px;
    height: 25px;
}

.menu-player-volume{
    display: flex;
    padding-right: 10px;
   
}

.menu-player-volume img {
    width: 20px;
    height: 20px;
    padding-top: 9px;
}

.volume {
    width: 100px;
    height: 5px;
    margin-top: 16px;
    accent-color: aquamarine;
}

.menu-player-left {
    margin-left: 20px;
    padding-top: 10px;
    left: 0;
    position: absolute;
    display: flex;
}

.menu-player-right {
    font-size: 13pt;
    margin-top: 15px;
    right: 0;
    position: absolute;
    text-align: right;
    display: flex;
}

.download {
    margin-top: 1px;
}

.menu-player-dados {
    margin-left: 20px;
    text-align: left;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #434242;
    overflow: hidden;
}
  
.progress {
    height: 5px;
    background-color:#62c1d4;
    width: 0%; 
    transition: width 0.3s ease-in-out;
}

.conteiner-cards{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    animation: opacity 2s;
    
}

.card{
    font-size: 10pt;
    width: 160px;
    border: none;
    height: 200px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.861);
    margin: 10px;
    box-shadow: 8px 8px 30px black;
    text-align: left;
    display: grid;
}

.card:hover{
    transform: scale(1.05);
    background-color: rgb(45, 45, 45);
}

.card-img{
    width: 160px;
    height: 150px;
    border-radius: 5px; 
}

.circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    border-top-color: aquamarine;
    animation: spin 3s linear infinite;
    padding: 0;
}

@media screen and (max-width: 650px) {
    .menu-player {
      display: grid;
      height: 210px;
      align-content: center;
      justify-content: center;
    }

    .menu-player-left {
        position: relative;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 0;

    }

    .menu-player-right {
        position: relative;
        display: grid;
        margin-top: 0;
        justify-content: center;
        justify-items: center;
    }

    .volume{
        margin-top: 10px;
        width: 150px;
        padding: 0;
    }

    .menu-player-volume img  {
        padding-top: 3px;
    }
  
    .menu-player-btns img  {
        margin-top: 0;
        padding: 10px;
        padding-left: 30px;
    }
  }
  